.main {
  display: grid;
  justify-items: center;
  margin-top: 10px;
  padding-top: 15px;
  row-gap: 5px;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: #beb194;
  margin: 0;
  outline: none;
  text-shadow: 1px 1px 3px black;
}

.menu {
  align-items: center;
  display: flex;
  font-family: Poppins , sans-serif;
  font-size: 14px;
  justify-content: center;
  margin-left: -15px;
  margin-top: -6px;
  max-width: 90%;
  text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital,wght@0,500;1,600&family=Poppins&display=swap') ;

.card {
  background-color: rgba(4, 4, 4, 0.318);
  border-radius: 25px 25px 5px 5px;
  margin-left: 5px;
  margin-top: 15px;
  max-width: 100%;
}

.card img {
  border: 2px solid #0c111a;
  margin-top: -10px;
  width: 100%;
}

.card img:hover {
  filter: grayscale(50%);
}

.cardtitle {
  border-radius: 25px 25px 5px 5px;
  color: white;
  font-family: Quicksand , sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 0 #0c111a;
  text-transform: uppercase; }

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap') ;

@media screen and ( max-width : 600px ) {

  .main {
    margin-top: 10px;
    padding-top: 15px;
  }

  button {
    background-color: transparent;
    border: none;
    color: #beb194;
    margin: 0;
    outline: none;
    text-shadow: 1px 1px 3px black;
  }

  .menu {
    margin-left: -15px;
    margin-top: -6px;
    text-transform: uppercase;
    width: 100%;
  }

  .card {
    background-color: rgba(4, 4, 4, 0.318);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #00000086;
    margin-left: 5px;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 97%;
  }

  .card img {
    border: 2px solid #0c111a;
    margin-top: -10px;
    width: 100%;
  }

  .card img:hover {
    filter: grayscale(50%);
  }

  .cardtitle {
    border-radius: 25px 25px 5px 5px;
    color: white;
    font-family: Quicksand , sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #0c111a;
    text-transform: uppercase;
  }
}
