.footer {
  backdrop-filter: blur(4px);
  background-color: #0c111adf;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 99%; }

.footer a {
  background-color: rgb(163, 77, 56);
  border-radius: 5px;
  font-family: Poppins , sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 5px;
  padding: 15px;
  text-transform: uppercase;
  width: auto;
}

.footer a:hover {
  color: white;
}
.footer img {
  margin: 5px;
  width: 25px;}

.teste {
  filter: invert(1);
}

@media screen and ( max-width : 600px ) {

  .footer {
    max-width: 99%;
  }
}
