.Login__logo {
  margin-bottom: 2rem;
  margin-top: 5rem;
  width: 20rem;
}

.Login__logo img {
  height: 100%;
  width: 100%;
}

.Login-container {
  background-image: url(https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?cs=srgb&dl=pexels-ella-olsson-1640770.jpg&fm=jpg);
  align-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
  margin-left: 2px;
  margin-top: 40px;
  width: 268px;
  background-color: #faf3ee;
  background-position: flex-start;
  background-repeat: no-repeat;
  background-size: 200%;
}

.Login-container img {
  width: 100px;
  margin-top: 0px;
}
.boxsection {
  margin-top: 10px;
}

.Login__form-input {
  backdrop-filter: blur(0);
  background-color: rgb(226, 226, 226);
  border: none;
  caret-color: #faf3ee;
  color: var(--cor-02);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  letter-spacing: 0.5px;
  margin: 5px;
  outline: none;
  padding: 8px 10px;
  transition: all 0.3s ease 0s;
  width: 15rem;
}

.Login__form-input:focus {
  background-color: rgb(208, 207, 207);
  color: var(--cor-02);
}

.googlebutton {
  display: inline-block;
  border-radius: 5px;
  margin: 20px 0px 20px 20px;
}

.Login__button {
  margin-left: 25%;
  color: var(--cor-06);
  background-color: var(--cor-05);
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(179, 179, 179, 0.286);
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  height: 40px;
  letter-spacing: 1px;
  margin-top: 1rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 110px;
  text-shadow: 1px 1px 1px #7c7c7c;
}

.Login__button:hover {
  background-color: var(--cor-04);
  color: white;
}

button:disabled,
button[disabled] {
  border: 1px solid #cecece;
  background-color: #dcdcdc;
  color: #4f4e4e;
  text-shadow: none;
}
button:disabled:hover,
button[disabled] {
  border: 1px solid #cecece;
  background-color: #dcdcdc;
  color: #4f4e4e;
  text-shadow: none;
}

.Header {
  background-color: #beb194;
  border-radius: 30% 20% 0% 80% / 50% 0% 100% 50%;
  color: white;
  height: 160px;
  margin-top: -350px;
  position: absolute;
  width: 100%;
}

.Header img {
  background-color: #a3977e;
  border-radius: 45%;
  margin-left: 85px;
  margin-top: 10%;
  padding: 15px;
  width: 40%;
}

form {
  align-content: center;
  align-items: center;
  display: flex;
  border-radius: 15px 15px 30px 30px;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.05));
  flex-direction: column;
  height: 380px;
  justify-content: center;
  margin-top: 137px;
  padding: 6px;
  width: 100%;
  color: var(--cor-02);
  background-color: #faf3ee;
}

h4 {
  color: var(--cor-02);
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 2.5px;
  padding-left: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  .Login-container {
    width: 100%;
    height: 645px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .boxsection {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-left: 5px;
  }
  .Login__form-input{
width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .Login-container {
    width: 100%;
    height: 895px;
    margin-top: 0px;
    margin-left: 0px;
  }

}
