.carousel {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 45px;
  overflow-x: scroll;
  padding-top: 4px;
}

.recomendation-card {
  background-color: none;
  border-radius: 5px;  color: white;

  display: flex;
  flex-direction: column;
  height: fit-content;
  letter-spacing: 1px;
  margin: 0 4% 4% 1%;
  min-width: 46%;
  padding: 3px;
  position: relative;
  top: 0;
}

  /* brenda eu comentei pq não passava no cy quando for mexer nisso
  passa no cy e veja se passa na questao 28 pois eh la que fica o css do cy */

  /* .inicialbutton {
    position: fixed;
    width: 0px;
    bottom: 0px
  } */
