body {
  background: #f8ceb8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none!important;
}
.Login {
  align-content: center;
  align-items: left;
  background-image: url("./images/iphonemock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  height: 640px;
  justify-content: center;
  top: 5px;
  width: 100%;
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--cor-05);
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--cor-05);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::selection {
  background: #6d898e;
  color: white;
}

::-moz-selection {
  background: #6d898e;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Darker+Grotesque:wght@700&family=Lobster&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Montserrat+Subrayada&family=Montserrat:wght@400;500;600;800&family=Mulish:wght@400;500;600;800&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Poppins:wght@400;700;800;900&family=Quicksand:wght@500;600;700&family=Tilt+Warp&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
